/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
body{font-size:14px;}
a{font-size:14px;}
#block-views-blocksapplication-block-1{background-image:url("../images/normal/bg_populaires.png");}
#block-views-blocksapplication-block-1 .feed-icon { left: 76%; position: absolute; top: 2%;}
#block-views-derniersblogs-block .views-row{background-image:url("../images/normal/tagadelic_3.png");height:150px;padding:0 0 0 85px;}
#block-views-derniersblogs-block a {ont-size:14px;}
#block-tagadelic-3{background-image:url("../images/normal/bg_recherche.png"); }
 #region-postscript-second #block-menu-menu-participez-{ background-image: url("../images/normal/participez_bg.png");height:264px;}
 .page-sources .region-sidebar-first .block{padding-top:50px;height:216px;background-image:url('../images/normal/rougecercleleftsource.png');}
.page-sources .region-content .block{padding-top:20px;height:279px;font-size:12px;background-image:url('../images/normal/rougecerclecentresource.png');}
.page-sources .region-sidebar-second .block{padding-top:40px;height:204px;background-image:url('../images/normal/rougecerclerightsource.png');}

.page-bonnes-pratiques .region-sidebar-first-inner .block{padding:40px 30px 10px;height:250px;background-image:url('../images/normal/bonnepratiqueleft.png');}


.page-usages .region-sidebar-first .block{padding:58px 20px 0 20px;height:263px;	background-image:url('../images/normal/leftusages.png');}
.page-usages .region-content .block{padding:23px 0 0 10px;height:217px;background-image:url('../images/normal/centreusages.png');}
.page-usages .region-sidebar-second .block{padding-top:5px;height:256px;background-image:url('../images/normal/rightusages.png');}
.block h2{font-size:16px;}
.page-usages .region-sidebar-second .block ul li.app1{padding-right:80px;}
.page-usages .region-sidebar-second .block ul li.app2{padding-right:30px;}
.page-usages .region-sidebar-second .block ul li.app3{padding-right:10px;}
.page-usages .region-sidebar-second .block ul li.app4{padding-right:38px;}
.page-usages .region-sidebar-second .block ul li{padding-bottom:17px;}

.page-thematiques .region-contentsecondzoneleft .block{height:268px;	background-image:url('../images/normal/lefttheme.png');}
.page-thematiques .region-contentsecondzoneright .block{height:219px;background-image:url('../images/normal/righttheme.png');font-size:10px;}


.node-type-reference #block-views-bonnepratiquesdujour-block-1,.node-type-reference #block-views-bonnepratiquesdujour-block-2 ,.node-type-reference #block-views-bonnepratiquesdujour-block-3,.node-type-reference #block-views-bonnepratiquesdujour-block-4,
.node-type-idees #block-views-bonnepratiquesdujour-block-1,.node-type-idees #block-views-bonnepratiquesdujour-block-2 ,.node-type-idees #block-views-bonnepratiquesdujour-block-3,.node-type-idees #block-views-bonnepratiquesdujour-block-4,
.node-type-code-source #block-views-bonnepratiquesdujour-block-1,.node-type-code-source #block-views-bonnepratiquesdujour-block-2 ,.node-type-code-source #block-views-bonnepratiquesdujour-block-3,.node-type-code-source #block-views-bonnepratiquesdujour-block-4,
.node-type-page #block-views-bonnepratiquesdujour-block-1,.node-type-page #block-views-bonnepratiquesdujour-block-2 ,.node-type-page #block-views-bonnepratiquesdujour-block-3,.node-type-page #block-views-bonnepratiquesdujour-block-4,.page-groupes .region-contentbottomleft .block{height:219px;background-image:url('../images/normal/righttheme.png');font-size:12px;}
.page-groupes .region-contentbottomright .block{height:219px;background-image:url('../images/normal/righttheme.png');font-size:12px;}
.page-groupes .region-contentbottomright .block a:link,.page-groupes .region-contentbottomright .block a:visited,.page-groupes .region-contentbottomright .block a{font-size:10px;}

.node-type-reference #block-views-bonnepratiquesdujour-block-2 a,
.node-type-reference #block-views-bonnepratiquesdujour-block-1 a,
.node-type-reference #block-views-bonnepratiquesdujour-block-3 a,
.node-type-reference #block-views-bonnepratiquesdujour-block-4 a,
.node-type-idees #block-views-bonnepratiquesdujour-block-2 a,
.node-type-idees #block-views-bonnepratiquesdujour-block-1 a,
.node-type-idees #block-views-bonnepratiquesdujour-block-3 a,
.node-type-idees #block-views-bonnepratiquesdujour-block-4 a,
.node-type-code-source #block-views-bonnepratiquesdujour-block-2 a,
.node-type-code-source #block-views-bonnepratiquesdujour-block-1 a,
.node-type-code-source #block-views-bonnepratiquesdujour-block-3 a,
.node-type-code-source #block-views-bonnepratiquesdujour-block-4 a,
.node-type-page #block-views-bonnepratiquesdujour-block-2 a,
.node-type-page #block-views-bonnepratiquesdujour-block-1 a,
.node-type-page #block-views-bonnepratiquesdujour-block-3 a,
.node-type-page #block-views-bonnepratiquesdujour-block-4 a,
 .page-groupes .region-contentbottomleft .block a,
  .node-type-page #block-views-bonnepratiquesdujour-block-1 a:link,
 .node-type-page #block-views-bonnepratiquesdujour-block-2 a:link,
.node-type-page #block-views-bonnepratiquesdujour-block-3 a:link,
.node-type-page #block-views-bonnepratiquesdujour-block-4 a:link,
.node-type-reference #block-views-bonnepratiquesdujour-block-2 a:link,
.node-type-reference #block-views-bonnepratiquesdujour-block-1 a:link,
.node-type-reference #block-views-bonnepratiquesdujour-block-3 a:link,
.node-type-reference #block-views-bonnepratiquesdujour-block-4 a:link,
.node-type-idees #block-views-bonnepratiquesdujour-block-2 a:link,
.node-type-idees #block-views-bonnepratiquesdujour-block-1 a:link,
.node-type-idees #block-views-bonnepratiquesdujour-block-3 a:link,
.node-type-idees #block-views-bonnepratiquesdujour-block-4 a:link,
.node-type-code-source #block-views-bonnepratiquesdujour-block-2 a:link,
.node-type-code-source #block-views-bonnepratiquesdujour-block-1 a:link,
.node-type-code-source #block-views-bonnepratiquesdujour-block-3 a:link,
.node-type-code-source #block-views-bonnepratiquesdujour-block-4 a:link,
  .page-groupes .region-contentbottomleft .block a:link,
   .node-type-page #block-views-bonnepratiquesdujour-block-2 a:visited,
.node-type-page #block-views-bonnepratiquesdujour-block-3 a:visited,
.node-type-page #block-views-bonnepratiquesdujour-block-4 a:visited,
.node-type-page #block-views-bonnepratiquesdujour-block-1 a:visited,
.node-type-reference #block-views-bonnepratiquesdujour-block-2 a:visited,
.node-type-reference #block-views-bonnepratiquesdujour-block-1 a:visited,
.node-type-reference #block-views-bonnepratiquesdujour-block-3 a:visited,
.node-type-reference #block-views-bonnepratiquesdujour-block-4 a:visited,
.node-type-idees #block-views-bonnepratiquesdujour-block-2 a:visited,
.node-type-idees #block-views-bonnepratiquesdujour-block-1 a:visited,
.node-type-idees #block-views-bonnepratiquesdujour-block-3 a:visited,
.node-type-idees #block-views-bonnepratiquesdujour-block-4 a:visited,
.node-type-code-source #block-views-bonnepratiquesdujour-block-2 a:visited,
.node-type-code-source #block-views-bonnepratiquesdujour-block-1 a:visited,
.node-type-code-source #block-views-bonnepratiquesdujour-block-3 a:visited,
.node-type-code-source #block-views-bonnepratiquesdujour-block-4 a:visited,
  .page-groupes .region-contentbottomleft .block a:visited{font-size:10px;}
.page-groupes .region-contentbottomright #block-block-13 .inscrirelink{background-image:url('../images/normal/lieninscrire.png');}

.view-blockconcept{height:327px;background-image:url('../images/normal/donneesleft.png');}
.view-blockconcept { font-size:13px;}
.view-blockconcept h2{font-size:16px;}
#block-views-blocksapplication-block-1 .view-content .views-row, #block-views-blocksapplication-block-2 .view-content .views-row {
background-position: 12px 20px;}
#block-views-blocksapplication-block-2 .block-inner {
    margin: 0 0 5% 2.9%;
}
/*-----------------------------)---------------------------*/

  table.views-table thead th{font-size:13px;	}
 table.views-table td{font-size:13px;}
 table.views-table th a, table.views-table td a{font-size:13px;}
 /*donnes*/
 .page-donnees #zone-content .block-views-groupes-block-1 .views-field-title,.page-donnees #zone-content .block-views-groupes-block-1 .views-field-body {font-size:11px;}
.page-donnees #zone-content .block-views-groupes-block-1 .content a{font-size:11px;}
#block-ebiz-bonnespratiques {background-image:url('../images/normal/bgbpcentre.png');background-repeat:no-repeat;height:396px;}
.term35034{padding:5% 0 0 3%;width:200px;text-align:center;}
.term35035{padding:24% 0 0 5%;}
.term35033{padding:5% 0 0 3%;width:200px;text-align:center;}
.page-donnees #zone-content .block-views-groupes-block-1 .views-field-field-gimage{ width: 20%;}
.page-donnees #zone-content .block-views-groupes-block-1 .views-field-title,.page-donnees #zone-content .block-views-groupes-block-1 .views-field-body {width: 75%;}
#contentanimationrightnarrow,#contentanimationleftnarrow,#contentanimationcenternarrow{display:block;visibility:visible;}
#contentanimationcenter,#contentanimationleft,#contentanimationright{display:none;visibility:hidden;}
.firstlink a{	background:transparent url(../images/normal/homecenterlink1.png) no-repeat;margin-right:27px;}
.secondlink a{background:transparent url(../images/normal/homecenterlink2.png) no-repeat ;margin-right:27px;}
.thirdlink a{	background:transparent url(../images/normal/homecenterlink3.png) no-repeat ;}

.firstlinkleft a{	background:transparent url(../images/normal/homerougelink1.png) no-repeat;margin-right:27px;}
.secondlinkleft a{background:transparent url(../images/normal/homerougelink2.png) no-repeat ;margin-right:27px;}
.thirdlinkleft a{	background:transparent url(../images/normal/homerougelink3.png) no-repeat ;}

.firstlinkright a{	background:transparent url(../images/normal/homebleulink1.png) no-repeat;margin-right:27px;}
.secondlinkright a{background:transparent url(../images/normal/homebleulink2.png) no-repeat ;margin-right:27px;}
.thirdlinkright a{	background:transparent url(../images/normal/homebleulink3.png) no-repeat ;}

ul.animation li{width:100px;height:120px;}
ul.animation li a {
    color: #000000;
    display: block;
    height: 25px;
    padding-top: 90px;
    width: 100px;
}
#contentanimationcenternarrow  h2 {background-image:url("../images/normal/homecentre.png");height:241px;display:block;background-repeat:no-repeat;padding: 10px 0 0 92px;}
#contentanimationleftnarrow  h2 {background-image:url("../images/normal/homeleft.png");height:241px;display:block;background-repeat:no-repeat;padding: 10px 0 0 92px;}
#contentanimationrightnarrow  h2 {background-image:url("../images/normal/handhome.png");height:215px;display:block;background-repeat:no-repeat;padding: 0 0 0 92px;}
#region-menu .menu li a{font-size:16px;}

.view-departements{width:770px;  background-image:url(../images/normal/bgtimeline.png);
  height:268px;
  margin:0 auto;
  padding:20px 40px;
}
.page-datavisualisation #block-multiblock-6{width:848px;}
.ws_next{right:-147px;}
.ws_prev{left:-149px;}
#block-webform-client-block-16882,#block-webform-client-block-16043{right:45px;}
#block-system-main-menu.block-system.contextual-links-region {margin-left:20px;}
.field-name-field-liendataviz{clear:both;width:auto;}

.field-name-field-texte-avant-bouton {width:auto;clear:both;}
#region-user-first a {margin-left: 28%;}


/*DATAVIZ*/
.page-datavizs  .view-datavizs .views-row{margin:1.375em;height:313px;width:260px;}
.page-datavizs .view-datavizs .views-row .views-field.views-field-body{height:313px;width:260px;bottom:-313px;}
.page-datavizs .view-datavizs .views-row .views-field.views-field-title-1{width:232px;}