/* for ie   */
/*
@font-face {
font-family: 'latoregular';
src: url('../font/latoregular.eot');
src: url('../font/latoregular.eot?#iefix') format('eot');  
}
@font-face {
font-family: 'latobolditalic';
src: url('../font/latobolditalic.eot'); 
src: url('../font/latobolditalic.eot?#iefix') format('eot');  
}
*/

@font-face {
font-family: 'folks';
src: url('../font/Folks-Normal.eot'); /* ie9 compat mode */
src: url('../font/Folks-Normal.eot?#iefix') format('eot');  /* ie 6-7-8 */
    font-weight: normal;
    font-style: normal;
}
/* fin  for ie */
#contentanimationcenter .firstlink a{	background-image:url(../images/wide/homecenterlink1.gif) ;background-repeat:no-repeat;}
#contentanimationcenter .secondlink a{background:transparent url(../images/wide/homecenterlink2.gif) no-repeat ;}
#contentanimationcenter .thirdlink a{	background:transparent url(../images/wide/homecenterlink3.gif) no-repeat ;}

#contentanimationleft  .firstlinkleft a{	background:transparent url(../images/wide/homerougelink1.gif) no-repeat;margin-right:27px;}
#contentanimationleft  .secondlinkleft a{background:transparent url(../images/wide/homerougelink2.gif) no-repeat ;margin-right:27px;}
#contentanimationleft  .thirdlinkleft a{	background:transparent url(../images/wide/homerougelink3.gif) no-repeat ;}

#contentanimationright  .firstlinkright a{	background:transparent url(../images/wide/homebleulink1.gif) no-repeat;margin-right:27px;}
#contentanimationright  .secondlinkright a{background:transparent url(../images/wide/homebleulink2.gif) no-repeat ;margin-right:27px;}
#contentanimationright  .thirdlinkright a{	background:transparent url(../images/wide/homebleulink3.gif) no-repeat ;}
#contentdataviz{margin:0 auto;}
#block-multiblock-6 .desc{display:none;visibility:hidden;}
#node-dataviz-17021 .main,#node-dataviz-17021 .menu2{dispaly:none;visibility:hidden;}